.four-oh-four {
    text-align: center;
    margin-top: 100px;
    margin: 8rem 0;
}

.four-oh-four h1 {
    font-size: 6rem;
    color: #333;
}

.four-oh-four p {
    font-size: 1.5rem;
    color: #666;
    margin: 6rem 0;
}