.page-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: fit-content;
    margin: 2rem auto;
    background-color: #f1f8fc;
    text-decoration: none;
}

.card-link {
    text-decoration: none;
    color: inherit;
}

.page-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
    transition: all 0.3s ease;
    cursor: pointer;
}

.top-card {
    display: flex;
    align-items: center;
    gap: 7rem;
}

.top-card img {
    width: 12rem;
    border-radius: 50%;
    object-fit: cover;
}

.info {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #00497c;
    padding: 1rem 2rem;
    border-radius: 10px;
    color: white;
}

.info h2 {
    margin: 0.5rem 0;
    font-size: 2.2rem;
    padding-right: 3rem;
}

@media screen and (max-width: 768px) {
    .top-card {
        flex-direction: column;
        gap: 2rem;
    }

    .top-card img {
        width: 8rem;
    }

    .info h2 {
        font-size: 1.8rem;
        padding-right: 0;
    }

    .info p {
        font-size: 1rem;
    }
}