.footer {      
    color: white;  
    text-align: center;  
    padding: .4rem 0 1rem 0;  
    width: 100%;  
}

.footer .legals-pages{
    padding: 2rem 0;
    background-color: #0074c7 ;
}

.footer p {  
    margin: 0;  
    font-size: 1rem;  
}

.footer h2 {  
    font-weight: bold;
}

.footer ul {  
    list-style-type: none;  
    padding: 0;  
    display: flex;  
    justify-content: center;  
    gap: 1.5rem;  
    font-weight: bold;
}

.footer a {  
    color: white;  
    text-decoration: none;  
}

.footer a:hover {  
    text-decoration: underline;  
}

.footer a, li {  
    font-size: 1.1rem;  
}

.footer .address {  
    padding-bottom: 1.4rem;
    width: 50%;
    margin: auto;
    border-bottom: white 2px solid;
}

.footer .legal-links {  
    margin-top: 1.5rem;  
    padding-bottom: 2rem;
}

.footer .social-media {  
    margin-top: 1.5rem;  
    display: flex;  
    justify-content: center;  
    gap: 2.2rem;  
}

.footer .social-media img {  
    width: 2.7rem;  
}

@media screen and (max-width: 768px) {
    .footer .address {
        width: 90%;
    }

    .footer ul {
        flex-direction: column;
        gap: 1rem;
    }

    .footer .social-media img {  
        width: 1.5rem;  
}
}