.page-card-user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: 35%;
    width: fit-content;
    margin: 5rem auto;
    background-color: #f1f8fc;
}

.top-card-user {
    display: flex;
    align-items: center;
    gap: 5rem;
}

.top-card-user img {
    width: 15rem;
    border-radius: 50%;
    object-fit: cover;
}

.info-user {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #00497c;
    padding: 1rem 2rem;
    border-radius: 10px;
    color: white;
}

.info-user h2 {
    margin: 0.5rem 0;
    font-size: 2.2rem;
    padding-right: 3rem;
}

.middle-card-user {
    max-width: 85%;
    margin-top: 2rem;
    background-color: #0074c7 ;
    padding: 0 2rem;
    border-radius: 10px;
    color: white;
    width: fit-content;
}

.middle-card-user h2 {
    font-size: 2rem;
}

.middle-card-user p {
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
}

.bottom-card-user {
    max-width: 95%;
    width: 100%;
    text-align: center;
    margin-top: 2rem;
}

.bottom-card-user h2 {
    background-color: #00497c ;
    padding: 1rem 2rem;
    border-radius: 10px;
    color: white;
}

.form-user {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 1.5rem;
}

.form-user input {
    padding: 0.7rem 1rem;
    border-radius: 8px;
    border: none;
    font-size: 1.2rem;
}

.form-user textarea {
    padding: 0.7rem 1rem;
    border-radius: 8px;
    border: none;
    font-size: 1.2rem;
    resize: vertical;
    min-height: 15rem;
}

.form-user button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 10rem;
    padding: 0.7rem 1rem;
    border-radius: 8px;
    border: none;
    background-color: #00497c ;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .page-card-user {
        max-width: 90%;
        margin: 3rem auto;
    }

    .top-card-user {
        flex-direction: column;
        gap: 2rem;
    }

    .top-card-user img {
        width: 10rem;
    }

    .info-user h2 {
        font-size: 1.8rem;
        padding-right: 0;
    }

    .middle-card-user h2 {
        font-size: 1.6rem;
    }

    .middle-card-user p {
        font-size: 1.2rem;
    }
}